#root {
  height: 100vh
}

.log-handler {
  display: flex;
  flex: 1;
  height: 100%;
  /* background-color: #263238; */
  font-size: 12px;
}

.main-content {
  display: flex;
  flex: 1;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  max-width: 300px;
  padding: 12px;
}

.input-container {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.logs-list {
  display: block;
  padding: 4px;
  height: 100%;
  width: 100%;
}

.logs-list-item {
  display: flex;
  flex: 1;
  align-items: center;
  border: solid rgb(170, 168, 168) 1px;
  width: 100%;
}

.log-text {
  padding: 8px 0px;
}

.inputfile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-input-button {
  width: 100%;
}

.file-input-label {
  cursor: pointer;
}