#root {
  height: 100vh
}

.log-handler {
  display: flex;
  flex: 1;
  height: 100%;
  font-size: 12px;
}

.main-content {
  display: flex;
  flex: 1;
  height: 100%;
  background-color: #fafafa;
}

.sidebar {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 20%;
  max-width: 300px;
  min-width:200px;
  padding: 12px;
  border-right: solid rgb(170, 168, 168) 1px;
  background-color: #303030;
  color: #fafafa;
}

.input-container {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.logs-list {
  display: block;
  padding: 4px 4px 4px 8px;
  height: 100%;
  width: 100%;
}

.logs-list-item {
  display: flex;
  flex: 1;
  align-items: center;
  border-bottom: solid rgb(170, 168, 168) 1px;
  width: 100%;
  padding: 4px 0px;
}

.log-list-item-section {
  padding: 8px;
  flex-shrink: 0;
  word-break: break-word;
}

.inputfile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-input-button {
  width: 100%;
}

.reset-button {
  width: 100%;
}

.file-input-label {
  cursor: pointer;
}

.empty-state {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

mark {
  background-color: rgb(185, 185, 40);
}