#root {
  height: 100vh
}

.log-handler {
  display: flex;
  flex: 1;
  height: 100%;
}

.input-container {
  display: flex;
  flex-direction: row;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.logs-list {
  display: block;
  padding: 4px;
  height: 100%;
}

.logs-list-item {
  display: flex;
  align-items: center;
  border: solid rgb(170, 168, 168) 1px;
  min-height: 32px;
}